/*RESET*/
body, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 5px solid black;
    margin: 50px auto;
    padding: 0;
    width: 550px;
    height: 550px;

    display: flex;
    flex-wrap: wrap;
    
}

.square {
    width: 34.375px;
    height: 34.375px;
    margin: 0;
    padding: 0;
}